# Required files for ZMK to recognize the shield

# No whitespace after the comma or in your keyboard name!
# Config name will be reused in Kconfig.defconfig

config SHIELD_BATSWING
    def_bool $(shields_list_contains,batswing)